* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#cont {
    height: 100%;
    width: 100%;
    padding: 50px;
}

#field {
    width: 20%;
    height: 25%;
    background-color: #00FF00;
    border: 10px solid black;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#field img {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}